@import url("https://fonts.googleapis.com/css?family=Spartan");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

.logoimg {
  width: 100px;
  height: 30px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #c8b7a6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  position: relative;
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #7d94b5;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #703f37;
}

#navbar li a::after{
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 30%;
  height: 2px;
  background-color: #703f37;
  bottom: -4px;
  left: 20px;
  transform-origin: bottom right;
  transform: scale(0);
  transition: transform 0.5s ease-out;
}
#navbar li a:hover::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 30%;
  height: 2px;
  background-color: #703f37;
  bottom: -4px;
  left: 20px;
  transform: scaleX(1);
  transform-origin: bottom left;
}



#navbar li ion-icon{
  font-size: 25px;
  transform: translateY(0px);
}

#mobile {
  display: none;
  align-items: center;
}

#hero {
  background-image: url("../images/banner/b8.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 20% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
}

#hero h4 {
  padding-bottom: 50px;
}

#hero h1 {
  padding-bottom: 50px;
  color: #7d94b5;
}

#hero h2 {
  color: #703f37;
}

#hero p {
  color: white;
}

#hero button {
  background-image: url("../images/button.png");
  background-color: transparent;
  border: none;
  color: #c29591;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #c8b7a6;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #703f37;
  background-color: #d1e8f2;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #fddde4;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product {
  text-align: center;
}

#product h2 {
  color: #703f37;
}

#product .pro {
  position: relative;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #c8b7a6;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}

#product .pro img {
  width: 100%;
  border-radius: 20px;
}

#product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product .pro .desc {
  text-align: start;
  padding: 10px 0;
}

#product .pro .desc span {
  color: #606063;
  font-size: 12px;
}

#product .pro .desc h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product .pro .desc .star {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product .pro .desc h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #c8b7a6;
}

#product .pro .cart {
  width: 25px;
  height: 25px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #c8b7a6;
  font-weight: 500;
  color: #703f37;
  border: 1px solid #c8b7a6;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product .pro .cart:hover {
  background-color: #703f37;
  color: white;
}

.product-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

#banner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-position: center;
  background-image: url("../images/banner/b2.jpg");
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

#banner button:hover {
  background-color: #c8b7a6;
  color: #fff;
}

#new-arr {
  align-items: center;
  text-align: center;
}

#call-banners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#call-banners .banner-b {
  background-image: url("../images/banner/b17.jpg");
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  min-width: 48%;
  height: 50vh;
  border-radius: 15px;
  background-position: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.3s;
  margin-bottom: 20px;
}

#call-banners .banner-b:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#call-banners .banner2 {
  background-image: url("../images/banner/b10.jpg");
}

#call-banners h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#call-banners h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

#call-banners p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#call-banners .button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 11px 18px;
  font-weight: 800;
  transition: 0.3s;
}

#call-banners .button:hover {
  background-color: #7d94b5;
}

#text-banners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#text-banners .text-ba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../images/banner/b7.jpg");
  padding: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-size: cover;
  min-width: 30%;
  height: 30vh;
  border-radius: 15px;
  background-position: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.3s;
}

#text-banners .text-ba:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#text-banners h2 {
  font-size: 22px;
  font-weight: 900;
  color: #fff;
}

#text-banners h4 {
  color: #ef3636;
  font-weight: 800;
  font-size: 15px;
}

#text-banners .ba2 {
  background-image: url("../images/banner/b4.jpg");
  background-size: cover;
  background-position: center;
}

#text-banners .ba3 {
  background-image: url("../images/banner/b18.jpg");
  background-size: cover;
  background-position: center;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-image: url("../images/banner/b14.png");
  background-color: #7d94b5;
  background-repeat: no-repeat;
  background-position: 20% 30%;
}

#newsletter p {
  color: #fff;
}

#newsletter span {
  color: #703f37;
}

#newsletter .sign-up {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3rem;
  width: 80%;
  font-size: 16px;
  padding-left: 1.25em;
  outline: none;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#newsletter button {
  height: 48px;
  width: 100px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #c29591;
  color: #fff;
  cursor: pointer;
}

#footer {
  display: flex;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#footer img {
  width: 150px;
  height: 45px;
}

#footer h3 {
  margin: 20px 0 20px;
  font-size: 16px;
  font-weight: 900;
}

#footer p {
  font-size: 14px;
  font-weight: 900;
}

#footer span {
  font: 10px;
  font-weight: 400;
}

#footer .social {
  display: flex;
}

#footer .social img {
  width: 35px;
  height: 35px;
}

#footer .social .instagram-logo {
  width: 40px;
  height: 40px;
  transform: translateY(-3px);
  margin-left: 15px;
  margin-right: 15px;
}

#footer .footer-s {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

#footer a {
  text-decoration: none;
  margin-bottom: 20px;
  color: #703f37;
}

#footer .install-app {
  margin-left: 80px;
}

#footer .install-app .pay {
  width: 250px;
  border-radius: 0;
}

#footer .install-app img {
  border-radius: 10px;
}

@media (max-width: 1020px) {
  #call-banners .banner-b {
    min-width: 750px;
  }
  #call-banners {
    justify-content: center;
  }

  #call-banners .banner2 {
    margin-left: 10px;
  }
  #call-banners .banner1 {
    margin-left: 10px;
  }

  #newsletter {
    flex-direction: column;
  }

  #newsletter .sign-up {
    min-width: 500px;
  }
}

@media (max-width: 1245px) {
  #text-banners .text-ba {
    min-width: 45%;
    margin: 20px;
  }
  #text-banners {
    justify-content: space-between;
  }

  #text-banners .ba3 {
    margin-left: 29%;
  }
}

@media (max-width: 1072px) {
  #text-banners {
    justify-content: center;
  }
  #text-banners .ba3 {
    margin-left: 20px;
  }
  #text-banners .text-ba {
    width: 421.19px;
  }
}

@media (max-width: 980px) {
  #footer .footer-s {
    margin-left: 3%;
    font-size: 14px;
  }
  #footer a {
    margin-bottom: 15px;
  }
}

/*nav bar for iPad*/
@media (max-width: 820px) {
  #mobile {
    display: flex;
  }

  #mobile a {
    color: #7d94b5;
    font-size: 25px;
    transform: translateY(6px);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #c8b7a6;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.7s;
  }
  #navbar li {
    margin-bottom: 25px;
  }

  #navbar ion-icon{
    display: none;
  }
  .toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .toggle::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: #c8b7a6;
    border-radius: 3px;
    transform: translateY(5px);
    transition: 0.7s;
  }

  .toggle::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: #c8b7a6;
    border-radius: 3px;
    transform: translateY(-5px);
    transition: 0.7s;
  }

  .toggle.active::before {
    transform: translateY(0px) rotate(-405deg);
  }

  .toggle.active::after {
    transform: translateY(0px) rotate(225deg);
  }
  #navbar.active {
    width: 300px;
    right: 0;
    transition: 0.7s;
    border-radius: 20px;
  }
}
